@use "./breakpoints.scss" as breakpoints;

@media (max-width: breakpoints.$s) {
    .mobile {
        flex-direction: column;
        gap: var(--static-space-16);
    }
}

.social {
    position: absolute;
    right:var(--static-space-16);

    @media (max-width: breakpoints.$s) {
        position: static;
    }
}